.carddetail-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 100px auto;
    height: 100vh;
}

.back {
    margin-bottom: 2rem;
}

.back:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px #825369;
}

.less-than {
    color: #989f9b;
    margin-right: 0.5rems;
}

.img-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F6F6F6;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFE1E2;
    padding-left: 1rem;
}

.type {
    color: #a39f9f;
}

.liter {
    color: #cfca81;
}

button {
    background-color: #D5D7D6;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
}

button:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    cursor: pointer;
}
