* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.App-header {
  width: 100vw;
  text-align: center;
  height: 15vh;
  color: #DF88A2;
  font-size: 3rem;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #FFE1E2;
}

.search-filter {
  height: 10vh;
}

.noOfProducts {

}


